@*@GeneratedCode*@
@model IEnumerable<QTChinnok.AspMvc.Models.Base.MediaType>
@{
  var orderBy = (string)ViewBag.OrderBy ?? string.Empty;
}
<thead>
 <tr>
  <th>
   @if (orderBy.StartsWith("Name") && orderBy.EndsWith("ASC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="Name DESC" class="btn btn-outline"><strong>Name</strong> <i class="fa fa-sort-desc"></i></a>
    }
   else if (orderBy.StartsWith("Name") && orderBy.EndsWith("DESC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>Name</strong> <i class="fa fa-sort-asc"></i></a>
    }
   else
    {
     <a asp-action="OrderBy" asp-route-orderBy="Name ASC" class="btn btn-outline"><strong>Name</strong></a>
    }
  </th>
  <th></th>
 </tr>
</thead>
